.footer{
  background-color: #2a2c2f;
  width: 250px;
  height: 100px;
  margin-left: 545px;
  margin-top: 150px;
}

@media (min-width: 544px) and (max-width: 1014px) {
  .footer {
    margin-left: 300px;
  }
}

@media (min-width: 320px) and (max-width: 544px) {
  .footer {
    margin-left: 0px;
    margin-top: 0px;
    right: 0px;
    top: 10881.9px;
    left: 75px;
    font-size: 0.8rem;
    position: absolute;
  }
}
