.places {
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 900;
}

@media (min-width: 1014px) and (max-width: 1540px) {
  .places {
    padding-left: 150px;
    }
    }